*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(240,242,245);
}

.login{
    width: 380px;
    margin: 50px auto;
    padding: 20px 15px;
    margin-top: 140px;
    border-radius: 12px;
    background: rgb(255,255,255,1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.parol{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: blue;
}

.login input,
.login button,
.model input,
.model button{
    width: 100%;
    height: 38px;
    margin-bottom: 20px;
    padding: 2px 10px;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(221,223,226);
}

.login button,
.model button{
    background: rgb(23,118,243);
    color: #fff;
    cursor: pointer;
}




.popap{
    display: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff9;
    background: #0004;

}



.model{
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%) scale(.8);
    width: 350px;
    min-height: 400px;
    background: #fff;
    opacity: 0;
    animation: model .5s ease 0s forwards;
    padding: 20px 15px;    
    border-radius: 10px;

}





@keyframes model{
    to{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);

    }
}


